<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<h2>Simple Notes App</h2>
<p>This is a simple notes app. You need to register before you start using it.</p>
<p>Simple Notes allows you to store, update and remove your notes.</p>
</body>
</html>